<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lnu.todomorrow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/checkbox_checked1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lnu.todomorrow.TaskList"
            android:label="@string/title_activity_todo_list" >
        </activity>
        <activity
            android:name="com.lnu.todomorrow.TaskForm"
            android:label="@string/title_activity_task_form" >
        </activity>
        <activity
            android:name="com.lnu.todomorrow.GoalList"
            android:label="@string/title_activity_goal_list" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lnu.todomorrow.GoalOverview"
            android:label="@string/title_activity_goal_overview" >
        </activity>
        <activity
            android:name="com.lnu.todomorrow.GoalForm"
            android:label="@string/title_activity_goal_form" >
        </activity>

        <receiver android:name="com.lnu.todomorrow.utils.NotificationReceiver" />

        <activity
            android:name="com.lnu.todomorrow.DialogPostpone"
            android:label="@string/title_activity_dialog_postpone"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.lnu.todomorrow.DialogFinish"
            android:label="@string/title_activity_dialog_finish"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.lnu.todomorrow.EditTask"
            android:label="@string/title_activity_edit" >
        </activity>
    </application>

</manifest>